@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --Navy-950: hsl(233, 47%, 7%);
  --Blue-950: hsl(244, 37%, 16%);
  --Purple-500: hsl(277, 64%, 61%);
  --White-stats: hsl(0, 0%, 100%);
  --White-paragraph: hsla(0, 0%, 100%, 0.75);
  --White-stats-heading: hsla(0, 0%, 100%, 0.6);
  --fs-md: 14px;
  --fs-sm: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--White-stats);
}

p{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--Navy-950);
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        background-color: var(--Blue-950);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        margin: 4rem 1.5rem;
        @media (min-width: 768px) {
            flex-direction: row;
            max-width: 70%;
        }
        .info-container, .img-container{
            width: 100%;
            @media (min-width: 768px) {
            width: 50%;
        }
        }
        .info-container{
            order: 2;
            padding: 2rem;
            text-align: center;
            @media (min-width: 768px) {
                text-align: left;
                order: 1;
            }
            h1{
                span{
                    color: var(--Purple-500);
                }
            }
            .description{
                color: var(--White-paragraph);
                margin: 1.2rem 0;
                font-size: var(--fs-md);
                line-height: 1.6;
            }
            .stats-container{
                display: flex;
                gap: 3rem;
                margin-top: 3rem;
                flex-direction: column;
                align-items: center;
                @media (min-width: 768px) {
                   flex-direction: row;
        }
                .stats{
                    h3{

                    }
                    p{
                        color: var(--White-stats-heading);
                        font-size: var(--fs-sm);
                        letter-spacing: 1px;
                        margin-top: 0.3rem;
                    }
                    .uppercase, p{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .img-container{
            order: 1;
            height: 300px;
            background-color: rgba(163, 60, 227, 0.635);
            background-image: url("../images/image-header-desktop.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            position: relative;
            @media (min-width: 768px) {
                height: initial;
                order: 2;
            }
            /* &::before{
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(86, 14, 130, 0.635);
                position: absolute;
                top: 0;
                left: 0; */
            }
        }
    }    