@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --Teal-500: hsl(179, 62%, 43%);
  --Green-400: hsl(71, 73%, 54%);
  --Teal-100: hsl(204, 43%, 93%);
  --Gray-500: hsl(218, 22%, 67%);
  --White: #fff;
  --Teal-500-Opacity: hsl(179, 62%, 43%, 0.81);  
  --fs-md: 13px;
  --fs-lg: 14px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
}
h1, h2, h3, h4, h5, h6, button{
    font-weight: 700;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--Teal-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    .card{
        width: 550px;
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-rows: 150px fit-content;
        grid-template-areas: 
        "join"
        "sub"
        "why"; 
        @media (min-width: 768px){
          grid-template-areas: 
            "join join"
            "sub why";  
        }
            
        }
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 5px 15px var(--Gray-500);
        .join-container, .sub-container, .why-container{
            padding: 1.6rem;
        }
        .join-container{
            background-color: var(--White);
            grid-area: join;
            h3{
                color: var(--Teal-500);
                margin-bottom: 1rem;
            }
            h5{
                color: var(--Green-400);
                margin-bottom: 0.5rem;
            }
            p{
                color: var(--Gray-500);
                font-size: var(--fs-md);
                line-height: 1.7;
            }
        }
        .sub-container{
            background-color: var(--Teal-500);
            grid-area: sub;
            color: var(--Teal-100);
            h4{

            }
            .price{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0.8rem 0 0.5rem;
                h1{

                }
                p{
                    opacity: 0.6;
                    font-size: var(--fs-md);
                }
            }
            .full{
                font-size: var(--fs-lg);
            }
            button{
                background-color: var(--Green-400);
                border: hidden;
                color: var(--Teal-100);
                width: 100%;
                padding: 0.7rem;
                margin-top: 1.5rem;
                border-radius: 5px;
                font-size: var(--fs-lg);
            }
        }
        .why-container{
            background-color: var(--Teal-500-Opacity);
            grid-area: why;
            color: var(--Teal-100);
            h4{
                margin-bottom: 1rem;
            }
            p{
                opacity: 0.7;
                font-size: var(--fs-md);
                line-height: 1.4;
                max-width: 75%;
            } 
        }
    }