@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
.lexend-deca-uniquifier {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1rem;
  @media (max-width: 768px) {
    line-height: 1.1rem;
  }
}
body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(to left, #cf006b, #ff369b);
  .about-me {
    /* width: 100vw; */
    margin-top: 2rem;
    padding: 3rem;
    /* margin-left: 3rem; */
    display: flex;
    justify-content: space-evenly;
    gap: 0.8rem;
    overflow: hidden;
    .about-me1 {
      width: 40rem;
      /* min-height: 1rem; */
      background-color: #ff69b4;
      border-radius: 0.4rem;
      border-style: double;
      border-color: rgb(212, 200, 200);
      box-shadow: 2px 4px 10px rgb(158, 150, 150);
      overflow: hidden;
      .head {
        display: block;
        display: flex;
        border-style: double;
        border-color: rgb(216, 207, 195);
        justify-content: center;
        background-color: #ff9cce;
        padding: 0.7rem 0 0.7rem 0;
        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
        }
      }
    }
    .about-me2 {
      width: 40rem;
      background-color: #ff69b4;
      border-radius: 0.4rem;
      box-shadow: 2px 4px 10px rgb(158, 150, 150);
      border-style: double;
      border-color: rgb(212, 200, 200);
      overflow: hidden;
      .head {
        display: block;
        display: flex;
        border-style: double;
        border-color: rgb(216, 207, 195);
        justify-content: center;
        background-color: #ff9cce;
        padding: 0.7rem 0 0.7rem 0;
        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .project {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      gap: 1rem;
    }
    .project-card {
      width: 14rem;
      min-height: 17rem;
      border-radius: 0.2rem;
      overflow: hidden;
      background-color: #fff;
      img {
        width: 14rem;
        min-height: 10rem;
        object-fit: cover;
      }
      .button {
        margin-top: 2rem;
        margin-left: 5.1rem;
        border-radius: 0.8rem;
      }
    }
  }
  .project-card:hover {
    background-color: pink;
    /* cursor: pointer; */
  }
  .footer {
    width: 100%;
    min-height: 5rem;
    text-align: center;
    margin-top: 5rem;
    background-color: #ff9cce;
    box-shadow: 2px 4px 10px rgb(158, 150, 150);
    .fa-brands {
      /* width: 10rem; */
      margin-top: 1.8rem;
      margin-right: 1rem;
      color: #cf006b;
    }
    p {
      margin-top: 0.3rem;
      font-weight: 200px;
      font-size: small;
    }
  }
  .cer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .cer-card {
      background-color: #fff;
      padding: 2rem;
      border-radius: 5px;
      border-style: solid;
      @media (max-width: 768px) {
        margin-top: 0.8rem;
      }
      .cer-img {
        width: 20rem;
      }
    }
  }
  .img-card {
    /* width: 98.7rem; */
    background-color: #ff9cce;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px rgb(158, 150, 150);
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 16rem;
      margin-left: 4rem;
      gap: 1rem;
    }
    img {
      width: 12rem;
      object-fit: cover;
    }
  }
  .nav-bar {
    /* width: 98.7rem; */
    min-height: 10vh;
    /* margin-left: 1.2rem; */
    margin-right: 1.2rem;
    background-color: #ff9cce;
    display: flex;
    box-shadow: 2px 4px 10px rgb(158, 150, 150);
    justify-content: end;
    /* padding: 0.1rem; */
    position: sticky;
    top: 0;
    border-radius: 1rem;
    @media (max-width: 768px) {
      width: 24.2rem;
      height: 1.5rem;
      margin-left: 0;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 48rem;
    }
    .boy-stickers {
      display: flex;
      /* margin-right: 65rem; */
      width: 0.8rem;
      margin-right: 80rem;
      @media (max-width: 768px) {
        width: 0.8rem;
        margin-top: 0.2rem;
        margin-right: 7.8rem;
      }
      .sticker {
        width: 10rem;
        @media (max-width: 768px) {
          /* display: block; */
        }
      }
    }
    img {
      width: 3rem;
      height: 3rem;
      margin-top: 1rem;
      margin-right: 1rem;
      /* margin-bottom: 0.9rem; */
      @media (max-width: 768px) {
        width: 4rem;
        margin-top: 0.4rem;
      }
    }
    .link {
      margin-right: 1rem;
      margin-top: 1rem;
      display: flex;
      /* justify-content: center; */
      gap: 0.6rem;
      @media (max-width: 768px) {
        /* margin-right: 7.5rem; */
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-top: 2rem;
        margin-right: 19.5rem;
      }
      a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-top: 1rem;
        align-items: end;
        font-size: large;
        font-weight: 200;
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: larger;
        }
      }
    }
  }
  h1 {
    font-style: italic;
    margin-top: 0.8rem;
    text-align: center;
  }
  .birth {
    display: grid;
    place-items: center;
    margin-left: 43rem;
    margin-bottom: 3rem;
    width: 15rem;
    background-color: #ff9cce;
    border-radius: 0.3rem;
    box-shadow: 2px 4px 10px rgb(158, 150, 150);
    border-style: double;
    border-color: rgb(212, 200, 200);
    @media (max-width: 768px) {
      margin-left: 4.7rem;
    }
    .head {
      background-color: #ff69b4;
      padding: 0.5rem;
      border-radius: 5px;
    }
    .day {
      margin-top: 0.5rem;
      .yet {
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
