@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
.lexend-deca-uniquifier {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1rem;
  @media (max-width: 768px) {
    line-height: 1.1rem;
    /* padding: 0.5rem; */
  }
}
body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(
    to left,
    rgb(249, 118, 179),
    rgb(228, 167, 199)
  );
  .about-me {
    width: 100vw;
    margin-top: 2rem;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    overflow: hidden;
    .about-me1 {
      width: 40rem;
      /* min-height: 1rem; */
      background-color: rgb(237, 135, 152);
      border-radius: 0.4rem;
      border-style: double;
      border-color: rgb(212, 200, 200);
      box-shadow: 2px 4px 10px rgb(158, 150, 150);
      overflow: hidden;
      .head {
        display: block;
        display: flex;
        border-style: double;
        border-color: rgb(216, 207, 195);
        justify-content: center;
        background-color: palevioletred;
        padding: 0.7rem 0 0.7rem 0;
        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .about-me2 {
    width: 40rem;
    /* min-height: 1rem; */
    /* line-height: 1.1rem; */
    background-color: rgb(237, 135, 152);
    border-radius: 0.4rem;
    box-shadow: 2px 4px 10px rgb(158, 150, 150);
    border-style: double;
    border-color: rgb(212, 200, 200);
    overflow: hidden;
    .head {
      display: block;
      display: flex;
      border-style: double;
      border-color: rgb(216, 207, 195);
      justify-content: center;
      background-color: palevioletred;
      padding: 0.7rem 0 0.7rem 0;
      @media (max-width: 768px) {
        margin-bottom: 0.5rem;
      }
    }
  }
  .project {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      gap: 1rem;
    }
    .project-card {
      width: 14rem;
      min-height: 17rem;
      border-radius: 0.2rem;
      overflow: hidden;
      background-color: #fff;
      img {
        width: 14rem;
        min-height: 10rem;
        object-fit: cover;
      }
      .button {
        margin-top: 2rem;
        margin-left: 5.1rem;
        border-radius: 0.8rem;
      }
    }
  }
  .project-card:hover {
    background-color: pink;
    /* cursor: pointer; */
  }
  .footer {
    width: 100%;
    min-height: 4rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 5rem;
    background-color: rgb(233, 152, 166);
    box-shadow: 2px 4px 10px rgb(158, 150, 150);
    h4 {
      display: inline-block;
      margin-top: 1rem;
    }
    p {
      font-size: small;
    }
  }
  /* @media screen and (max-width: 768px) {
    .project > .project-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  } */
}
h1 {
  font-style: italic;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-evenly;
}
.img-card {
  width: 87.8rem;
  background-color: rgb(232, 71, 125);
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px rgb(158, 150, 150);
  display: flex;
  justify-content: space-evenly;
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 16rem;
    margin-left: 4rem;
    gap: 1rem;
  }
  img {
    width: 12rem;
    object-fit: cover;
  }
}
.nav-bar {
  width: 87.8rem;
  min-height: 10vh;
  background-color: rgb(237, 135, 152);
  display: flex;
  box-shadow: 2px 4px 10px rgb(158, 150, 150);
  justify-content: end;
  /* padding: 0.1rem; */
  position: sticky;
  top: 0;
  border-radius: 1rem;
  @media (max-width: 768px) {
    width: 22.1rem;
    /* margin-top: 1rem; */
  }
  .link {
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
    gap: 0.6rem;
    @media (max-width: 768px) {
      margin-top: 2rem;
      margin-right: 7rem;
    }
    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      align-items: end;
      font-size: large;
      font-weight: 200;
    }
  }
}
